# For the ESP32-C3 SuperMini board.
CONFIG_ESP_UART_BRIDGE_REMAP_PINS=y
CONFIG_ESP_UART_BRIDGE_TXD_PIN=21
CONFIG_ESP_UART_BRIDGE_RXD_PIN=20
CONFIG_ESP_DAP_GPIO_SWCLK_TCK=0
CONFIG_ESP_DAP_GPIO_SWDIO_TMS=1
CONFIG_ESP_DAP_GPIO_TDI=9
CONFIG_ESP_DAP_GPIO_TDO=10
CONFIG_ESP_DAP_GPIO_NTRST=7
CONFIG_ESP_DAP_GPIO_NRESET=3
CONFIG_ESP_DAP_LED_STANDARD=y
CONFIG_ESP_DAP_LED_ACTIVE_LOW=y
CONFIG_ESP_DAP_GPIO_LED=8
CONFIG_ESP_DAP_PRODUCT_ID="CMSIS-DAP-TCP ESP32-C3 SuperMini"
CONFIG_ESP_DAP_IO_PORT_WRITE_CYCLES=16
CONFIG_ESP_DAP_DELAY_SLOW_CYCLES=7
