CONFIG_ESP_WIFI_TASK_PINNED_TO_CORE_1=y
CONFIG_ESP_UART_BRIDGE_REMAP_PINS=y
CONFIG_ESP_UART_BRIDGE_TXD_PIN=12
CONFIG_ESP_UART_BRIDGE_RXD_PIN=13
CONFIG_ESP_DAP_GPIO_SWCLK_TCK=2
CONFIG_ESP_DAP_GPIO_SWDIO_TMS=4
CONFIG_ESP_DAP_GPIO_TDI=11
CONFIG_ESP_DAP_GPIO_TDO=9
CONFIG_ESP_DAP_GPIO_NTRST=6
CONFIG_ESP_DAP_GPIO_NRESET=7
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
CONFIG_ESP_DAP_LED_RGB=y
CONFIG_ESP_DAP_LED_RGB_INTENSITY_R=32
CONFIG_ESP_DAP_LED_RGB_INTENSITY_G=32
CONFIG_ESP_DAP_LED_RGB_INTENSITY_B=32
CONFIG_ESP_DAP_GPIO_LED=21
