# For Xiao ESP32C6 and compatible boards.
CONFIG_ESP_UART_BRIDGE_REMAP_PINS=y
CONFIG_ESP_UART_BRIDGE_TXD_PIN=2
CONFIG_ESP_UART_BRIDGE_RXD_PIN=1
CONFIG_ESP_DAP_GPIO_SWCLK_TCK=19
CONFIG_ESP_DAP_GPIO_SWDIO_TMS=20
CONFIG_ESP_DAP_GPIO_TDI=22
CONFIG_ESP_DAP_GPIO_TDO=23
CONFIG_ESP_DAP_GPIO_NTRST=21
CONFIG_ESP_DAP_GPIO_NRESET=18
CONFIG_ESP_DAP_LED_STANDARD=y
CONFIG_ESP_DAP_LED_ACTIVE_LOW=y
CONFIG_ESP_DAP_GPIO_LED=15
